body {
    background-color: #101025;
    margin: 0;
    padding: 0;
    border: 0;
    font-family : "Open Sans";
    font-size: 14px;
    color: #7070aa;
    width: 100%;
    height: 100%;
}

/* input fields*/
input {
    background: #353560;
    color: #50afde;
    border: 0;
    font-size: 100%;
    border-radius: 3px;
    border: 1px solid #7070AA;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

input:focus {
    background: #404075;
}
.add-button {
    background-color:#101025;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #7070aa;
    display:inline-block;
    cursor:pointer;
    color:#7070aa;
    font-size: 100%;
    font-style: bold;
    padding:1px 20px;
    width: 30%;
    margin: 5% 35%;
}
.add-button:hover {
    background-color:#101025;
    color: #50afde;
    border-color: #50afde;
}
.add-button:active {
    position:relative;
    top:1px;
}

/* bookmarks specific */
#bookmark-container {
    margin: 5% 15%;
}

.bookmark-title {
    font-size: 22px;
}

.bookmark-title a:link {color:#7070aa;}      /* unvisited link */
.bookmark-title a:visited {color:#ab7070;}  /* visited link */
.bookmark-title a:hover {color:#50afde;}  /* mouse over link */

.bookmark-date {
    font-size: 12px;
    font-style: italic;
    display: none;
}


/* generic container */

.container-header {
    border-bottom: 1px solid #50afde;
    color: #50afde;
}

.container-header a {
    font-size: 32px;
    font-style: italic;
}


.container-list {
    width: 100%;
}

.container-list table {
    border-collapse: collapse;
}

.container-list td {
    padding: 5px 15px;
}

.container-list tr:hover .bookmark-date {
    display: block;
}

.container-input {
    font-size: 22px;
    margin: 5px 15%;
    padding: 0;
}

.container-input span {
    width: 100%;
}



/* all */
::-webkit-input-placeholder {
    color:#9090ee;
}
::-moz-placeholder { /* firefox 19+ */
    color:#9090ee;
}
:-ms-input-placeholder { /* ie */
    color:#9090ee;
}
input:-moz-placeholder {
    color:#9090ee;
}


.arrow {
   height: 0;
   width: 0;
   border: 6px solid transparent;
}

.arrow.up {
   border-bottom-color: #7070aa;
}
.arrow.up:hover {
   border-bottom-color: #50afde;
   cursor: pointer;
}

.arrow.down {
   border-top-color: #7070aa;
}
.arrow.down:hover {
   border-top-color: #50afde;
   cursor: pointer;
}
